.nav_link {
    text-decoration: none;
    cursor: pointer;
    /* color: black; */
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.color_white {
    color: white;
}

@media screen and (max-width: 725px) {
    .ul {
        flex-direction: column;
        gap: 2rem;
    }

    .color_white {
        color: black
    }
}